.backdrop {
  position: fixed;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: $casual-cubic;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  z-index: 60;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  color: $second-text-color;
  background-color: $mobile-bgc;

  @media screen and (min-width: 480px) {
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }
}

.modal__close-button {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

.modal__close-icon {
  width: 44px;
  height: 44px;
}

.modal__close-icon::before {
  content: '';
  display: inline-block;
  background-color: $primary-btn-color;
  transition: background-color 250ms $casual-cubic;
  width: 1px;
  height: 30px;
  transform: translateX(50%) rotate(45deg);
}

.modal__close-icon::after {
  content: '';
  display: inline-block;
  background-color: $primary-btn-color;
  transition: background-color 250ms $casual-cubic;
  width: 1px;
  height: 30px;
  transform: translateX(-50%) rotate(-45deg);
}

.modal__close-button:hover .modal__close-icon::before,
.modal__close-button:hover .modal__close-icon::after,
.modal__close-button:focus .modal__close-icon::before,
.modal__close-button:focus .modal__close-icon::after {
  background-color: $second-btn-color;
}

.modal__title {
  text-align: center;
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $second-text-color;
  text-transform: uppercase;

  @include size(tablet) {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
  @include size(desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}
