@import './utils/variables';
@import './utils/base';
@import './utils/mixins';
@import './components/header';
@import './components/about';
@import './components/hero';
@import './templates/article';
@import './templates/hidden-btn';
@import './components/product';
@import './components/advantages';
@import './components/gallery';
@import './components/customer';
@import './components/footer';
@import './components/contact';
@import './modal.scss';