html {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.visually-hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

span {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  min-width: 320px;
  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

@mixin size($size) {
  @if $size==mobile {
    @media (min-width: 480px) {
      @content;
    }
  } @else if $size==tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size==desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }
}
