<section class="about">
  <div class="container">
    <div class="container__title">
      <label for="" class="container-label">tradition and love</label>
      <h2 class="caption">how it’s made?</h2>
    </div>
    <div class="container__media">
      <div class="container__pic">
        <picture class="container__pic">
          <source srcset="" media="(min-width:1280px)" />
          <source srcset="" media="(min-width:768px)" />
          <source srcset="" media="(max-width:767px)" />
          <img src="../images/img/made/desktop/cow-desc1x.jpg" alt="" />
        </picture>
      </div>
      <div class="container__description">
        <p class="container__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <!-- <p class="container__becground"></p> -->
        <p class="container__content">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <p>
          <button class="container__btn">Read more</button>
        </p>
      </div>
    </div>
  </div>
</section>
