<section class="about">
  <div id="about"></div>
  <div class="container">
    <div class="container__title">
      <label for="" class="container-label">tradition and love</label>
      <h2 class="caption">how it’s made?</h2>
    </div>
    <div class="container__media">
      <div class="container__pic">
        <picture class="container__pic">
          <source
            srcset="
              ./images/img/made/desktop/cow_desk1x.png 1x,
              ./images/img/made/desktop/cow_desk2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./images/img/made/tablet/cow_tab1x.png 1x,
              ./images/img/made/tablet/cow_tab2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/img/made/mob/cow_mob1x.png 1x,
              ./images/img/made/mob/cow_mob2x.png 2x
            "
            media="(max-width:767px)"
          />
          <img src="./images/img/made/desktop/cow_desk1x.png" alt="" />
        </picture>
      </div>
      <div class="container__description">
        <p class="container__text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <div class="container__becground"></div>
        <p class="container__content">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <p>
          <button class="container__btn" data-modal-2-open>
            Read more
            <span>
              <svg class="container-btn__icon">
                <use href="./images/sprite.svg#arrow"></use>
              </svg>
            </span>
          </button>
        </p>
      </div>
    </div>
  </div>
</section>
