<section class="contacts" id="contact">
  <div class="container contacts--container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts-list">
      <li class="contacts-item">
        <div class="wrapperr">
          <p class="contacts-item__header">CAFE</p>
          <p class="contacts-item__city">Chicago</p>
          <p class="contacts-item__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>

          <p class="contacts-item__workday">Monday - Friday</p>
          <p class="contacts-item__worktime">06:00 AM - 10:00 PM</p>

          <p class="contacts-item__workday contacts-item__workday--diffsize">
            Saturday - Sunday
          </p>
          <p class="contacts-item__worktime contacts-item__worktime--bigmargin">
            08:00 AM - 16:00 PM
          </p>

          <a class="contacts-item__details" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-item__details" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts-item">
        <div class="wrapperr">
          <p class="contacts-item__header contacts-item__header--foodtruck">
            FOOD TRUCK
          </p>
          <p class="contacts-item__city">Los Angeles</p>
          <p class="contacts-item__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>

          <p class="contacts-item__workday">Monday - Friday</p>
          <p class="contacts-item__worktime">06:00 AM - 10:00 PM</p>

          <p class="contacts-item__workday contacts-item__workday--diffsize">
            Saturday - Sunday
          </p>
          <p class="contacts-item__worktime contacts-item__worktime--bigmargin">
            08:00 AM - 16:00 PM
          </p>

          <a class="contacts-item__details" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-item__details" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts-item">
        <div class="wrapperr">
          <p class="contacts-item__header">CAFE</p>
          <p class="contacts-item__city">New York</p>
          <p class="contacts-item__info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>

          <p class="contacts-item__workday">Monday - Friday</p>
          <p class="contacts-item__worktime">06:00 AM - 10:00 PM</p>

          <p class="contacts-item__workday contacts-item__workday--diffsize">
            Saturday - Sunday
          </p>
          <p class="contacts-item__worktime contacts-item__worktime--bigmargin">
            08:00 AM - 16:00 PM
          </p>

          <a class="contacts-item__details" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-item__details" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="btn-block">
      <button class="contacts-btn" type="button" data-modal-3-open>
        Our Locations
        <svg class="contacts-btn__icon" width="14px" height="14px">
          <use href="./images/sprite.svg#arrow"></use>
        </svg>
      </button>
      <button
        class="contacts-btn contacts-btn--secondary"
        type="button"
        data-modal-4-open
      >
        Franchise<svg
          class="contacts-btn__icon contacts-btn__icon--icon-second"
          width="14px"
          height="14px"
        >
          <use href="./images/sprite.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
