<section class="container">
  <div class="customer-container">
    <div class="customer__slider">
      <img
        src="./images/img/slider/desktop/tris-desc1x.jpg"
        alt="Картинка слайда1"
        srcset="
          ./images/img/slider/desktop/tris-desc1x.jpg 1x,
          ./images/img/slider/desktop/tris-desc2x.jpg 2x
        "
        class="customer__img"
      />
      <div class="customer__list">
        <div class="customer__line">
          <p class="customer__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div class="customer__dot">
        <svg class="customer__icon" width="32" height="14">
          <use href="./images/sprite.svg#icon-dots"></use>
        </svg>
      </div>
      <h3 class="customer__title">Emily, Los Angeles</h3>
    </div>
    </div>
    </section>
    <!-- <div class="customer__slider">
      <img
        srcset="
          ./images/img/slider/desktop/monika-desc1x.jpg 1x,
          ./images/img/slider/desktop/monika-desc2x.jpg 2x
        "
        src="./images/img/slider/desktop/monika-desc1x.jpg"
        alt="Картинка слайда2"
        class="customer__img"
      />
      <div class="customer__list">
        <div class="customer__line">
          <p class="customer__text">
            Reliable store with a large selection of products. I constantly
            order, satisfied with everything. Highly recommend this produdt for
            mamy good things, especially for digestive problems.
          </p>
        </div>
      </div>
      <div class="customer__dot">
        <svg class="customer__icon" width="32" height="14">
          <use href="./images/sprite.svg#icon-circls"></use>
        </svg>
      </div>
      <h3 class="customer__title">Dana, New York</h3>
    </div> -->
    <!-- <div class="customer__slider">
      <img
        srcset="
          ./images/img/slider/desktop/ava-desc1x.jpg 1x,
          ./images/img/slider/desktop/ava-desc2x.jpg 2x
        "
        src="./images/img/slider/desktop/ava-desc1x.jpg"
        alt="Картинка слайда3"
        class="customer__img"
      />
      <div class="customer__list">
        <div class="customer__line">
          <p class="customer__text">
            I recommend to people who care about their health. Fresh product!
            Very tasty! It is a pity that the packaging is small. We finished it
            too fast. We will definitely buy more.
          </p>
        </div>
      </div>
      <div class="customer__dot">
        <svg class="customer__icon" width="32" height="14">
          <use href="./images/sprite.svg#icon-circls"></use>
        </svg>
      </div>
      <h3 class="customer__title">Miriam Asya, Toronto</h3>
    </div> -->
  </div>
</section>
