<header class="navigation">
  <a id="menu"></a>
  <div class=" menu ">
    <div class="container inner">
      <a href="#menu" class="logo__link"><img src="./images/img/header/logo.png" alt="logo" /> </a>
      <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu close">
          <svg width="12" height="12" class="icon__close">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <section class="header">
          <nav class="submenu">
            <div class="btn__nav">
              <button class="submenu__btn btn" data-modal-1-open>
                Buy Now<span class="icon__arrow"> &#62;</span>
              </button>
            </div>
            <ul class="submenu__list list">
              <li class="submenu__item">
                <a href="#menu" class="submenu__link current">Home</a>
              </li>
              <li class="submenu__item">
                <a href="#advantages" class="submenu__link">About us</a>
              </li>
              <li class="submenu__item">
                <a href="#about" class="submenu__link">How it's made?</a>
              </li>
              <li class="submenu__item">
                <a href="#product" class="submenu__link">Our products</a>
              </li>
              <li class="submenu__item">
                <a href="#contact" class="submenu__link">Contact</a>
              </li>
            </ul>
          </nav>

      </div>
      <div class="btn__collection">
        <button type="button" class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
          <svg width="20" height="12" aria-label="кнопка мобильного меню">
            <use class="icon__menu" href="./images/sprite.svg#icon-Burger"></use>

          </svg>
        </button>
        <div class="btn__visible">
          <button class="submenu__btn submenu__btn--visible"  data-modal-10-open>
            Buy Now <span class="icon__arrow"> &#62;</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</header>