<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-about">
        <h1 class="article">
          ICE CREAM<br />MADE WITH<br /><span class="article__passion"
            >PASSION</span
          >
        </h1>
        <ul class="hero-btn">
          <li class="hero-btn__item">
            <button class="hero-btn__btn hero-btn__first">Products</button>
          </li>
          <li class="hero-btn__item">
            <button class="hero-btn__btn hero-btn__second">
              How it's made
            </button>
          </li>
        </ul>
        <div class="hero-desc">
          <div class="hero-desc__img">
            <img src="./images/img/hero/hero-milk.png" alt="" />
          </div>
          <div class="hero-desc__desc">
            <p class="hero-desc__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button class="hidden-btn">
              <svg height="10" width="10">
                <use href="./images/sprite.svg#icon-arrow-right2"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="hero-elipse"></div>
      <div class="hero-icecream">
        <img src="./images/img/hero/hero-icecream.png" alt="" />
      </div>
      <div class="hero-right">
        <ul class="hero-counts-list">
          <li class="hero-counts-list__item">
            <div class="hero-counts-list__round"></div>
            <div class="hero-counts-list__info">
              <p class="hero-counts-list__amount">16</p>
              <p class="hero-counts-list__name">cafes</p>
            </div>
          </li>
          <li class="hero-counts-list__item">
            <div class="hero-counts-list__round"></div>
            <div class="hero-counts-list__info">
              <p class="hero-counts-list__amount">23</p>
              <p class="hero-counts-list__name">food trucks</p>
            </div>
          </li>
        </ul>
        <div class="hero-girl">
          <img src="./images/img/hero/hero-girl.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
