<div class="backdrop is-hidden" data-modal-2>
  <div class="modal">
    <button class="button modal__close-button" data-modal-2-close>
      <div class="modal__close-icon"></div>
    </button>
    <h3 class="modal__title">Read More</h3>
    <div class="modal__container">
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quisquam eum minima
        adipisci voluptatem voluptate vitae maiores ipsam, eos error ut inventore placeat nam enim
        voluptatibus autem iure doloremque! Ipsam.
      </p>
      <p class="modal__text">
        Ducimus placeat soluta ipsa debitis quia laboriosam modi nihil eum, dolorem dolore
        aspernatur a? Possimus iusto expedita autem iste aperiam unde quas laudantium itaque rem
        illum. Voluptate maiores quod itaque!
      </p>
      <p class="modal__text">
        Tempore laborum quis alias magnam harum nisi, quaerat porro recusandae. Voluptates, aut.
        Nisi, aliquid ex? Fuga unde aspernatur accusantium doloribus, quos suscipit in iure quisquam
        repellat pariatur, molestiae facilis voluptates!
      </p>
    </div>
  </div>
</div>
