<div class="backdrop is-hidden" data-modal-1>
  <div class="modal">
    <button class="button modal__close-button" data-modal-1-close>
      <div class="modal__close-icon"></div>
    </button>
    <h3 class="modal__title">Buy now</h3>
    <div class="modal__container">
      <form class="modal__form modal__form--width form" action="">
        <label class="form__field">
          <span class="icon-container">
            <svg class="form__icon">
              <use href="./images/sprite.svg#modalicon"></use>
            </svg>
          </span>
          <input class="form__input" type="text" name="name" placeholder=" ">
          <span class="form__label">Name</span>
        </label>
        <label class="form__field">
         
          <span class="icon-container">
            <svg class="form__icon">
              <use href="./images/sprite.svg#modalphone"></use>
              
            </svg>
          </span>
          <input class="form__input" type="tel" name="tel" placeholder=" ">
          <span class="form__label">Phone</span>
        </label>
        <label class="form__field">
            
            <span class="icon-container">
              <svg class="form__icon">
                <use href="./images/sprite.svg#modalmail"></use>
              </svg>
            </span>
          <input class="form__input" type="email" name="email" placeholder=" ">
          <span class="form__label">Email</span>
        </label>
        <button class="form__btn" type="submit">Buy</button>
      </form>
    </div>
  </div>
</div>
