<div class="backdrop is-hidden" data-modal-2>
  <div class="modal">
    <button class="button modal__close-button" data-modal-2-close>
      <div class="modal__close-icon"></div>
    </button>
    <h3 class="modal__title">Read More</h3>
    <div class="modal__container">
      <iframe
        class="modal__video"
        height="450"
        src="https://www.youtube.com/embed/8WEMZ86Eho8"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
