<div class="backdrop is-hidden" data-modal-4>
  <div class="modal">
    <button class="button modal__close-button" data-modal-4-close>
      <div class="modal__close-icon"></div>
    </button>
    <h3 class="modal__title">Franchise</h3>
    <div class="modal__container">
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, laudantium eligendi ipsa
        fugiat iure voluptate unde odio dignissimos veritatis saepe deleniti, error vero cumque
        commodi tenetur rem voluptas nisi autem quidem. Aperiam facilis veritatis eveniet molestiae
        soluta dolorum odit nihil.
      </p>
      <p class="modal__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab molestiae iste autem
        voluptatem! Magnam autem, amet assumenda veniam ducimus odit ex ipsam, facilis vitae
        aspernatur nemo iusto suscipit, consequatur similique. Commodi deserunt rerum neque esse
        temporibus, maiores, odio suscipit qui iste numquam earum harum ipsa quis reprehenderit
        explicabo reiciendis blanditiis?
      </p>
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, dolores.
      </p>
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quia aspernatur blanditiis
        modi sed dolorem quisquam animi et a voluptatum ratione, eos facere ipsam dignissimos?
      </p>
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, laudantium eligendi ipsa
        fugiat iure voluptate unde odio dignissimos veritatis saepe deleniti, error vero cumque
        commodi tenetur rem voluptas nisi autem quidem. Aperiam facilis veritatis eveniet molestiae
        soluta dolorum odit nihil.
      </p>
      <p class="modal__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab molestiae iste autem
        voluptatem! Magnam autem, amet assumenda veniam ducimus odit ex ipsam, facilis vitae
        aspernatur nemo iusto suscipit, consequatur similique. Commodi deserunt rerum neque esse
        temporibus, maiores, odio suscipit qui iste numquam earum harum ipsa quis reprehenderit
        explicabo reiciendis blanditiis?
      </p>
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, dolores.
      </p>
      <p class="modal__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quia aspernatur blanditiis
        modi sed dolorem quisquam animi et a voluptatum ratione, eos facere ipsam dignissimos?
      </p>
    </div>
  </div>
</div>
