<div class="backdrop is-hidden" data-modal-3>
  <div class="modal">
    <button class="button modal__close-button" data-modal-3-close>
      <div class="modal__close-icon"></div>
    </button>
    <h3 class="modal__title">Our Locations</h3>
    <div class="modal__container">
      <iframe
        class="modal__map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.866156508357!2d30.531895015820176!3d50.424965297081776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d96f5139689b%3A0xa1f7c65300bebad1!2sGoIT!5e0!3m2!1suk!2sua!4v1649189318750!5m2!1suk!2sua"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
