<section class="product" id="product">
    <div class="container">
        <p class="product__discription">100% natural</p>
        <h2 class="product__title">products</h2>
        <ul class="product__list">
            <li class="product__item product__item--one">
                <img srcset="./images/img/product/home-pic1-1x.png 1x, ./images/img/product/home-pic1-2x.png 2x" src="./images/img/product/home-pic1-1x.png" alt="" width="" height="" class="product__item--image">
                <p class="product__name">ice cream</p>
                <svg class="product__icon" width="26px" heigth="6px">
                    <use href='./images/sprite.svg#icon-circls'></use>
                </svg>
                <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="product__button">
                    <svg class="product__button--icon" width="15px" heigth="15px">
                        <use href='./images/sprite.svg#icon-arrow-right2'></use>
                    </svg>
                </button>
            </li>
            <li class="product__item product__item--two">
                <img srcset="./images/img/product/home-pic2-1x.png 1x, ./images/img/product/home-pic2-2x.png 2x" src="./images/img/product/home-pic2-1x.png" alt="" width="" height="" class="product__item--image">
                <p class="product__name">ice coffee</p>
                <svg class="product__icon" width="26px" heigth="6px">
                    <use href='./images/sprite.svg#icon-circls'></use>
                </svg>
                <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                aliqua facilisis.</p>
                <button type="button" class="product__button">
                    <svg class="product__button--icon" width="15px" heigth="15px">
                        <use href='./images/sprite.svg#icon-arrow-right2'></use>
                    </svg>
                </button>
            </li>
            <li class="product__item product__item--tree">
                <img srcset="./images/img/product/home-pic3-1x.png 1x, ./images/img/product/home-pic3-2x.png 2x" src="./images/img/product/home-pic3-1x.png" alt="" width="" height="" class="product__item--image">
                <p class="product__name">milkshakes</p>
                <svg class="product__icon" width="26px" heigth="6px">
                    <use href='./images/sprite.svg#icon-circls'></use>
                </svg>
                <p class="product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
            aliqua facilisis.</p>
            <button type="button" class="product__button">
                <svg class="product__button--icon" width="15px" heigth="15px">
                    <use href='./images/sprite.svg#icon-arrow-right2'></use>
                </svg>
            </button>
            </li>
        </ul>
    </div>
</section>