.contacts {
    position: relative;
    background: linear-gradient(to top, $main-bgc 78%, $four-bgc 22%);

    @include size (tablet) {
        background: linear-gradient(to top, $main-bgc 80%, $four-bgc 20%);
    }

    @include size (desktop) {
        background: linear-gradient(to top, $main-bgc 85%, $four-bgc 15%);
    }

    min-width: 320px;
    padding-bottom: 48px;

    @include size (tablet) {
        padding-bottom: 40px;
    }

    @include size (desktop) {
        padding-bottom: 120px;
    }
}

.bcgimg {
    display: none;

    @include size (desktop) {
        display: block;
        position: absolute;
        max-width: 1280px;
        top: 18%;
        left: 0%;
    }
}

.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include size (tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 32px;
        margin-bottom: 40px;
    }

    @include size (desktop) {
        justify-content: center;
        margin-bottom: 60px;
    }
}

.contacts-item {
    width: 280px;
    height: 412px;
    border-radius: 24px;
    z-index: 1;
    background-color: $four-bgc;
    box-shadow: $contacts-box-shadow;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &:last-child {
        margin-bottom: 32px;
    }

    @include size (tablet) {
        &:not(:last-child) {
            margin-bottom: 0px;
        }

        &:last-child {
            margin-bottom: 0px;
        }
    }

    @include size (tablet) {
        width: 224px;
        height: 528px;
    }

    @include size (desktop) {
        width: 395px;
        height: 538px;
    }
}

.wrapper {
    width: 216px;
    height: 332px;
    margin: 40px 32px;

    @include size (tablet) {
        width: 160px;
        height: 448px;
    }

    @include size (desktop) {
        margin: 40px;
        width: 315px;
        height: 458px;
    }
}


.contacts-item__header {
    background-color: $product-second-bgc;
    color: $second-text-color;
    border-radius: 4px;
    width: 80px;
    height: 16px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    list-style: calc(22 / 12);
    padding-top: 2px;
    text-align: center;
    margin-bottom: 20px;

    @include size (tablet) {
        width: 73px;
        height: 28px;
        padding-top: 0px;
        font-size: 16px;
        line-height: calc(30 / 16);
        margin-bottom: 32px;
    }

    @include size (desktop) {
        padding-top: 0px;
        width: 75px;
    }

    &--foodtruck {
        width: 130px;
        background-color: $product-third-bgc;

        @include size (tablet) {
            width: 138px;
        }
    }
}

.contacts-item__city {
    font-size: 12px;
    font-weight: 500;
    line-height: calc(22 / 12);
    letter-spacing: 0.04em;
    margin-bottom: 8px;

    @include size (tablet) {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: calc(26 / 14);
    }

    @include size (desktop) {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: calc(30 / 16);
    }
}

.contacts-item__info {
    position: relative;
    width: 179px;
    font-size: 12px;
    font-weight: 500;
    line-height: calc(18 / 12);
    color: $third-text-color;
    margin-bottom: 48px;

    @include size (tablet) {
        width: 158px;
        height: 65px;
        margin-bottom: 64px;
        font-size: 14px;
        line-height: calc(23 / 14);
    }

    @include size (desktop) {
        width: 250px;
        height: 50px;
        font-size: 16px;
        line-height: calc(29 / 16);
    }

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 216px;
        height: 1px;
        background-color: $six-bgc;
        margin-top: 24px;

        @include size (tablet) {
            width: 160px;
            margin-top: 32px;
        }

        @include size (desktop) {
            width: 315px;
        }
    }
}

.contacts-item__workday {
    width: 107px;
    font-size: 12px;
    font-weight: 500;
    line-height: calc(22 / 12);
    color: $main-text-color;

    @include size (tablet) {
        width: 122px;
        font-size: 14px;
        line-height: calc(26 / 14);
    }

    @include size (desktop) {
        width: 137px;
        font-size: 16px;
        line-height: calc(30 / 16);
    }

    &--diffsize {
        width: 120px;

        @include size (tablet) {
            width: 132px;
            font-size: 14px;
            line-height: calc(26 / 14);
        }

        @include size (desktop) {
            width: 156px;
            font-size: 16px;
            line-height: calc(30 / 16);
        }
    }
}

.contacts-item__worktime {
    width: 162px;
    font-size: 12px;
    font-weight: 500;
    line-height: calc(22 / 12);
    color: $second-title-color;
    margin-bottom: 8px;

    @include size (tablet) {
        margin-bottom: 12px;
        width: 160px;
        height: 23px;
        font-size: 14px;
        line-height: calc(26 / 14);
    }

    @include size (desktop) {
        width: 167px;
        font-size: 16px;
        line-height: calc(30 / 16);
    }

    &--bigmargin {
        height: 26px;
        margin-bottom: 48px;

        @include size (tablet) {
            margin-bottom: 64px;
        }

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 216px;
            height: 1px;
            background-color: $six-bgc;
            margin-top: 24px;

            @include size (tablet) {
                width: 160px;
                margin-top: 32px;
            }

            @include size (desktop) {
                width: 315px;
                margin-top: 32px;
            }
        }
    }
}


.contacts-item__details {
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: calc(18 / 12);
    color: $third-text-color;

    @include size (tablet) {
        font-size: 14px;
        line-height: calc(26 / 14);
    }

    @include size (desktop) {
        font-size: 16px;
    }
}

.contacts-btn {
    position: relative;
    padding-right: 30px;
    padding-left: 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(21 / 16);
    text-align: center;
    width: 161px;
    height: 44px;
    color: $second-text-color;
    background-color: $second-btn-color;
    border-radius: 22px;
    border: none;

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: $contacts-box-shadow;
        transition: box-shadow 250ms $casual-cubic;
    }

    &--secondary {
        color: $second-btn-color;
        background-color: $primary-btn-color;

        &:hover,
        &:focus {
            background-color: $hover-btn-color;
            transition: box-shadow 250ms $casual-cubic,
                background-color 250ms $casual-cubic;
        }
    }

    &:last-child {
        margin-top: 10px;
    }

    @include size (tablet) {
        width: 191px;
        padding-right: 52px;
        padding-left: 30px;
        margin-right: 14.5px;

        &:last-child {
            margin-top: 0px;
        }
    }

    @include size (desktop) {
        width: 198px;
        padding-right: 54px;
        padding-left: 35px;
    }

    &__icon {
        position: absolute;
        right: 18px;
        top: 18px;

        @include size (tablet) {
            right: 34px;
        }

        @include size (desktop) {
            right: 36px;
        }
    }
}

.btn-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include size (tablet) {
        flex-direction: row;
        justify-content: center;
    }
}