.gallery {
  max-width: 320px;
  height: 122px;
  margin-right: auto;
  margin-left: auto;
  background: linear-gradient(to bottom, rgba(255, 245, 246, 1) 50%, rgba(255, 255, 255, 1) 50%);
  background-image: url('../images/img/gallery/mob/galery-mob1x.jpg');
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .gallery {
      background-image: url('../images/img/gallery/mob/galery-mob2x.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 264px;
    background-image: url('../images/img/gallery/tablet/galery-tab1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .gallery {
        background-image: url('../images/img/gallery/tablet/galery-tab2x.jpg');
      }
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    height: 430px;
    background-image: url('../images/img/gallery/desktop/galery-desc1x.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .gallery {
        background-image: url('../images/img/gallery/desktop/galery-desc2x.jpg');
      }
    }
  }
}
